.navbar {
  width: 100%; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #0d1b2a;
  color: white;
  box-sizing: border-box; 
}


.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.line {
  width: 25px;
  height: 3px;
  background: white;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background: #0d1b2a;
    flex-direction: column;
    width: 200px;
    padding: 20px;
  }

  .nav-links.open {
    display: flex;
  }
}
